<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.ge.platform.mapper.sys.SysOrganizationChannelMapper" >
  <resultMap id="BaseResultMap" type="com.ai.ge.platform.model.sys.SysOrganizationChannel" >
    <result column="SOC_ID" property="socId" jdbcType="DECIMAL" />
    <result column="SYS_ORGANIZATION_ID" property="sysOrganizationId" jdbcType="DECIMAL" />
    <result column="CHANNEL_ID" property="channelId" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    SOC_ID, SYS_ORGANIZATION_ID, CHANNEL_ID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.ge.platform.model.sys.SysOrganizationChannelExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SYS_ORGANIZATION_CHANNEL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.ai.ge.platform.model.sys.SysOrganizationChannelExample" >
    delete from SYS_ORGANIZATION_CHANNEL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.ge.platform.model.sys.SysOrganizationChannel" >
    insert into SYS_ORGANIZATION_CHANNEL (SOC_ID, SYS_ORGANIZATION_ID, CHANNEL_ID
      )
    values (#{socId,jdbcType=DECIMAL}, #{sysOrganizationId,jdbcType=DECIMAL}, #{channelId,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ai.ge.platform.model.sys.SysOrganizationChannel" >
    insert into SYS_ORGANIZATION_CHANNEL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="socId != null" >
        SOC_ID,
      </if>
      <if test="sysOrganizationId != null" >
        SYS_ORGANIZATION_ID,
      </if>
      <if test="channelId != null" >
        CHANNEL_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="socId != null" >
        #{socId,jdbcType=DECIMAL},
      </if>
      <if test="sysOrganizationId != null" >
        #{sysOrganizationId,jdbcType=DECIMAL},
      </if>
      <if test="channelId != null" >
        #{channelId,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.ge.platform.model.sys.SysOrganizationChannelExample" resultType="java.lang.Integer" >
    select count(*) from SYS_ORGANIZATION_CHANNEL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update SYS_ORGANIZATION_CHANNEL
    <set >
      <if test="record.socId != null" >
        SOC_ID = #{record.socId,jdbcType=DECIMAL},
      </if>
      <if test="record.sysOrganizationId != null" >
        SYS_ORGANIZATION_ID = #{record.sysOrganizationId,jdbcType=DECIMAL},
      </if>
      <if test="record.channelId != null" >
        CHANNEL_ID = #{record.channelId,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update SYS_ORGANIZATION_CHANNEL
    set SOC_ID = #{record.socId,jdbcType=DECIMAL},
      SYS_ORGANIZATION_ID = #{record.sysOrganizationId,jdbcType=DECIMAL},
      CHANNEL_ID = #{record.channelId,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>