<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.ge.platform.mapper.sys.SystemAccessBlackListMapper" >
  <resultMap id="BaseResultMap" type="com.ai.ge.platform.model.sys.SystemAccessBlackList" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="BL_IP" property="blIp" jdbcType="VARCHAR" />
    <result column="BL_TIME" property="blTime" jdbcType="TIMESTAMP" />
    <result column="BL_ACC_NUM" property="blAccNum" jdbcType="DECIMAL" />
    <result column="BL_ACC_THRESHOLD" property="blAccThreshold" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, BL_IP, BL_TIME, BL_ACC_NUM, BL_ACC_THRESHOLD
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.ge.platform.model.sys.SystemAccessBlackListExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SYSTEM_ACCESS_BLACKLIST
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from SYSTEM_ACCESS_BLACKLIST
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from SYSTEM_ACCESS_BLACKLIST
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.ai.ge.platform.model.sys.SystemAccessBlackListExample" >
    delete from SYSTEM_ACCESS_BLACKLIST
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.ge.platform.model.sys.SystemAccessBlackList" >
      <selectKey keyProperty="id" resultType="long" order="AFTER">
        select last_insert_id() as id
      </selectKey>
    insert into SYSTEM_ACCESS_BLACKLIST (BL_IP, BL_TIME,
      BL_ACC_NUM, BL_ACC_THRESHOLD)
    values (#{blIp,jdbcType=VARCHAR}, #{blTime,jdbcType=TIMESTAMP},
      #{blAccNum,jdbcType=DECIMAL}, #{blAccThreshold,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ai.ge.platform.model.sys.SystemAccessBlackList" >
      <selectKey keyProperty="id" resultType="long" order="AFTER">
        select last_insert_id() as id
      </selectKey>
      insert into SYSTEM_ACCESS_BLACKLIST
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="blIp != null" >
        BL_IP,
      </if>
      <if test="blTime != null" >
        BL_TIME,
      </if>
      <if test="blAccNum != null" >
        BL_ACC_NUM,
      </if>
      <if test="blAccThreshold != null" >
        BL_ACC_THRESHOLD,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="blIp != null" >
        #{blIp,jdbcType=VARCHAR},
      </if>
      <if test="blTime != null" >
        #{blTime,jdbcType=TIMESTAMP},
      </if>
      <if test="blAccNum != null" >
        #{blAccNum,jdbcType=DECIMAL},
      </if>
      <if test="blAccThreshold != null" >
        #{blAccThreshold,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.ge.platform.model.sys.SystemAccessBlackListExample" resultType="java.lang.Integer" >
    select count(*) from SYSTEM_ACCESS_BLACKLIST
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update SYSTEM_ACCESS_BLACKLIST
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.blIp != null" >
        BL_IP = #{record.blIp,jdbcType=VARCHAR},
      </if>
      <if test="record.blTime != null" >
        BL_TIME = #{record.blTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.blAccNum != null" >
        BL_ACC_NUM = #{record.blAccNum,jdbcType=DECIMAL},
      </if>
      <if test="record.blAccThreshold != null" >
        BL_ACC_THRESHOLD = #{record.blAccThreshold,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update SYSTEM_ACCESS_BLACKLIST
    set ID = #{record.id,jdbcType=DECIMAL},
      BL_IP = #{record.blIp,jdbcType=VARCHAR},
      BL_TIME = #{record.blTime,jdbcType=TIMESTAMP},
      BL_ACC_NUM = #{record.blAccNum,jdbcType=DECIMAL},
      BL_ACC_THRESHOLD = #{record.blAccThreshold,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.ge.platform.model.sys.SystemAccessBlackList" >
    update SYSTEM_ACCESS_BLACKLIST
    <set >
      <if test="blIp != null" >
        BL_IP = #{blIp,jdbcType=VARCHAR},
      </if>
      <if test="blTime != null" >
        BL_TIME = #{blTime,jdbcType=TIMESTAMP},
      </if>
      <if test="blAccNum != null" >
        BL_ACC_NUM = #{blAccNum,jdbcType=DECIMAL},
      </if>
      <if test="blAccThreshold != null" >
        BL_ACC_THRESHOLD = #{blAccThreshold,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.ge.platform.model.sys.SystemAccessBlackList" >
    update SYSTEM_ACCESS_BLACKLIST
    set BL_IP = #{blIp,jdbcType=VARCHAR},
      BL_TIME = #{blTime,jdbcType=TIMESTAMP},
      BL_ACC_NUM = #{blAccNum,jdbcType=DECIMAL},
      BL_ACC_THRESHOLD = #{blAccThreshold,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>

    <delete id="deleteByUnlockTime" parameterType="map">
        DELETE from SYSTEM_ACCESS_BLACKLIST b
        where <![CDATA[b.bl_time < now() - #{unlockTime} / 1440]]>
        <if test="ips != null" >
            and b.bl_ip not in
            <foreach item="item" index="index" collection="ips" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </delete>
</mapper>