<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.ge.platform.mapper.order.CustomerShopCartMapper" >
  <resultMap id="BaseResultMap" type="com.ai.ge.platform.model.order.CustomerShopCart" >
    <id column="SC_ID" property="scId" jdbcType="BIGINT" />
    <result column="CUST_ID" property="custId" jdbcType="BIGINT" />
    <result column="PROD_ID" property="prodId" jdbcType="BIGINT" />
    <result column="PROVID_ID" property="providId" jdbcType="BIGINT" />
    <result column="PROD_SALE_ATTR_ID" property="prodSaleAttrId" jdbcType="BIGINT" />
    <result column="SC_TYPE" property="scType" jdbcType="SMALLINT" />
    <result column="QUANTITY" property="quantity" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    SC_ID, CUST_ID, PROD_ID, PROVID_ID, PROD_SALE_ATTR_ID, SC_TYPE, QUANTITY, CREATE_TIME, 
    UPDATE_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.ge.platform.model.order.CustomerShopCartExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from customer_shop_cart
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from customer_shop_cart
    where SC_ID = #{scId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from customer_shop_cart
    where SC_ID = #{scId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.ai.ge.platform.model.order.CustomerShopCartExample" >
    delete from customer_shop_cart
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.ge.platform.model.order.CustomerShopCart" >
    insert into customer_shop_cart (SC_ID, CUST_ID, PROD_ID, 
      PROVID_ID, PROD_SALE_ATTR_ID, SC_TYPE, 
      QUANTITY, CREATE_TIME, UPDATE_TIME
      )
    values (#{scId,jdbcType=BIGINT}, #{custId,jdbcType=BIGINT}, #{prodId,jdbcType=BIGINT}, 
      #{providId,jdbcType=BIGINT}, #{prodSaleAttrId,jdbcType=BIGINT}, #{scType,jdbcType=SMALLINT}, 
      #{quantity,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ai.ge.platform.model.order.CustomerShopCart" >
    insert into customer_shop_cart
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="scId != null" >
        SC_ID,
      </if>
      <if test="custId != null" >
        CUST_ID,
      </if>
      <if test="prodId != null" >
        PROD_ID,
      </if>
      <if test="providId != null" >
        PROVID_ID,
      </if>
      <if test="prodSaleAttrId != null" >
        PROD_SALE_ATTR_ID,
      </if>
      <if test="scType != null" >
        SC_TYPE,
      </if>
      <if test="quantity != null" >
        QUANTITY,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="scId != null" >
        #{scId,jdbcType=BIGINT},
      </if>
      <if test="custId != null" >
        #{custId,jdbcType=BIGINT},
      </if>
      <if test="prodId != null" >
        #{prodId,jdbcType=BIGINT},
      </if>
      <if test="providId != null" >
        #{providId,jdbcType=BIGINT},
      </if>
      <if test="prodSaleAttrId != null" >
        #{prodSaleAttrId,jdbcType=BIGINT},
      </if>
      <if test="scType != null" >
        #{scType,jdbcType=SMALLINT},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.ge.platform.model.order.CustomerShopCartExample" resultType="java.lang.Integer" >
    select count(*) from customer_shop_cart
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update customer_shop_cart
    <set >
      <if test="record.scId != null" >
        SC_ID = #{record.scId,jdbcType=BIGINT},
      </if>
      <if test="record.custId != null" >
        CUST_ID = #{record.custId,jdbcType=BIGINT},
      </if>
      <if test="record.prodId != null" >
        PROD_ID = #{record.prodId,jdbcType=BIGINT},
      </if>
      <if test="record.providId != null" >
        PROVID_ID = #{record.providId,jdbcType=BIGINT},
      </if>
      <if test="record.prodSaleAttrId != null" >
        PROD_SALE_ATTR_ID = #{record.prodSaleAttrId,jdbcType=BIGINT},
      </if>
      <if test="record.scType != null" >
        SC_TYPE = #{record.scType,jdbcType=SMALLINT},
      </if>
      <if test="record.quantity != null" >
        QUANTITY = #{record.quantity,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update customer_shop_cart
    set SC_ID = #{record.scId,jdbcType=BIGINT},
      CUST_ID = #{record.custId,jdbcType=BIGINT},
      PROD_ID = #{record.prodId,jdbcType=BIGINT},
      PROVID_ID = #{record.providId,jdbcType=BIGINT},
      PROD_SALE_ATTR_ID = #{record.prodSaleAttrId,jdbcType=BIGINT},
      SC_TYPE = #{record.scType,jdbcType=SMALLINT},
      QUANTITY = #{record.quantity,jdbcType=INTEGER},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.ge.platform.model.order.CustomerShopCart" >
    update customer_shop_cart
    <set >
      <if test="custId != null" >
        CUST_ID = #{custId,jdbcType=BIGINT},
      </if>
      <if test="prodId != null" >
        PROD_ID = #{prodId,jdbcType=BIGINT},
      </if>
      <if test="providId != null" >
        PROVID_ID = #{providId,jdbcType=BIGINT},
      </if>
      <if test="prodSaleAttrId != null" >
        PROD_SALE_ATTR_ID = #{prodSaleAttrId,jdbcType=BIGINT},
      </if>
      <if test="scType != null" >
        SC_TYPE = #{scType,jdbcType=SMALLINT},
      </if>
      <if test="quantity != null" >
        QUANTITY = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where SC_ID = #{scId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.ge.platform.model.order.CustomerShopCart" >
    update customer_shop_cart
    set CUST_ID = #{custId,jdbcType=BIGINT},
      PROD_ID = #{prodId,jdbcType=BIGINT},
      PROVID_ID = #{providId,jdbcType=BIGINT},
      PROD_SALE_ATTR_ID = #{prodSaleAttrId,jdbcType=BIGINT},
      SC_TYPE = #{scType,jdbcType=SMALLINT},
      QUANTITY = #{quantity,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where SC_ID = #{scId,jdbcType=BIGINT}
  </update>
</mapper>