<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.ge.platform.mapper.product.DataSourceTypeMapper" >
  <resultMap id="BaseResultMap" type="com.ai.ge.platform.model.product.DataSourceType" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="PARA_SPEC_ID" property="paraSpecId" jdbcType="BIGINT" />
    <result column="PAR_PARA_SPEC_ID" property="parParaSpecId" jdbcType="BIGINT" />
    <result column="DISCRETE_VALUE" property="discreteValue" jdbcType="INTEGER" />
    <result column="DISCRIPTION" property="discription" jdbcType="VARCHAR" />
    <result column="SORT" property="sort" jdbcType="SMALLINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, PARA_SPEC_ID, PAR_PARA_SPEC_ID, DISCRETE_VALUE, DISCRIPTION, SORT
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.ge.platform.model.product.DataSourceTypeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from para_discrete_value
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from para_discrete_value
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from para_discrete_value
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.ai.ge.platform.model.product.DataSourceTypeExample" >
    delete from para_discrete_value
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.ge.platform.model.product.DataSourceType" >
    insert into para_discrete_value (ID, PARA_SPEC_ID, PAR_PARA_SPEC_ID, 
      DISCRETE_VALUE, DISCRIPTION, SORT
      )
    values (#{id,jdbcType=BIGINT}, #{paraSpecId,jdbcType=BIGINT}, #{parParaSpecId,jdbcType=BIGINT}, 
      #{discreteValue,jdbcType=INTEGER}, #{discription,jdbcType=VARCHAR}, #{sort,jdbcType=SMALLINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ai.ge.platform.model.product.DataSourceType" >
    insert into para_discrete_value
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="paraSpecId != null" >
        PARA_SPEC_ID,
      </if>
      <if test="parParaSpecId != null" >
        PAR_PARA_SPEC_ID,
      </if>
      <if test="discreteValue != null" >
        DISCRETE_VALUE,
      </if>
      <if test="discription != null" >
        DISCRIPTION,
      </if>
      <if test="sort != null" >
        SORT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="paraSpecId != null" >
        #{paraSpecId,jdbcType=BIGINT},
      </if>
      <if test="parParaSpecId != null" >
        #{parParaSpecId,jdbcType=BIGINT},
      </if>
      <if test="discreteValue != null" >
        #{discreteValue,jdbcType=INTEGER},
      </if>
      <if test="discription != null" >
        #{discription,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.ge.platform.model.product.DataSourceTypeExample" resultType="java.lang.Integer" >
    select count(*) from para_discrete_value
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update para_discrete_value
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.paraSpecId != null" >
        PARA_SPEC_ID = #{record.paraSpecId,jdbcType=BIGINT},
      </if>
      <if test="record.parParaSpecId != null" >
        PAR_PARA_SPEC_ID = #{record.parParaSpecId,jdbcType=BIGINT},
      </if>
      <if test="record.discreteValue != null" >
        DISCRETE_VALUE = #{record.discreteValue,jdbcType=INTEGER},
      </if>
      <if test="record.discription != null" >
        DISCRIPTION = #{record.discription,jdbcType=VARCHAR},
      </if>
      <if test="record.sort != null" >
        SORT = #{record.sort,jdbcType=SMALLINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update para_discrete_value
    set ID = #{record.id,jdbcType=BIGINT},
      PARA_SPEC_ID = #{record.paraSpecId,jdbcType=BIGINT},
      PAR_PARA_SPEC_ID = #{record.parParaSpecId,jdbcType=BIGINT},
      DISCRETE_VALUE = #{record.discreteValue,jdbcType=INTEGER},
      DISCRIPTION = #{record.discription,jdbcType=VARCHAR},
      SORT = #{record.sort,jdbcType=SMALLINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.ge.platform.model.product.DataSourceType" >
    update para_discrete_value
    <set >
      <if test="paraSpecId != null" >
        PARA_SPEC_ID = #{paraSpecId,jdbcType=BIGINT},
      </if>
      <if test="parParaSpecId != null" >
        PAR_PARA_SPEC_ID = #{parParaSpecId,jdbcType=BIGINT},
      </if>
      <if test="discreteValue != null" >
        DISCRETE_VALUE = #{discreteValue,jdbcType=INTEGER},
      </if>
      <if test="discription != null" >
        DISCRIPTION = #{discription,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        SORT = #{sort,jdbcType=SMALLINT},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.ge.platform.model.product.DataSourceType" >
    update para_discrete_value
    set PARA_SPEC_ID = #{paraSpecId,jdbcType=BIGINT},
      PAR_PARA_SPEC_ID = #{parParaSpecId,jdbcType=BIGINT},
      DISCRETE_VALUE = #{discreteValue,jdbcType=INTEGER},
      DISCRIPTION = #{discription,jdbcType=VARCHAR},
      SORT = #{sort,jdbcType=SMALLINT}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>